* @abdullah270602

.github/ @abdullah270602
scripts/ @abdullah270602
src/FolderGlimpse/Input/ @abdullah270602
src/FolderGlimpse/ExplorerIntegration/ @abdullah270602
src/FolderGlimpse/Interaction/ @abdullah270602
